/****************html*******************/
html, body {
  padding: 0;
  margin: 0;
  font-family: Avenir; }

html {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: 100%; }

header, main {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  min-width: 350px; }

body {
  margin-top: 30px; }

a {
  text-decoration: none; }

h1, h2, h3, h4 {
  color: #2e7bd9;
  font-family: 'Bodoni', arial; }

/*****************Header-menu-logo*******************/
nav, .logo {
  display: block;
  margin: 0 auto;
  text-align: center; }

menu {
  text-align: center;
  margin: 0 auto; }
.logo {
  padding-top: 2%
}
.menu > li {
  margin-right: 34px;
  list-style: none;
  display: inline-block; }

.menu li a {
  text-decoration: none;
  color: black;
  font-family: Avenir Book;
  font-size: 18px;
  font-weight: bold; }

.header-cont {
  margin-top: 100px; }

.header-cont h1 {
  color: #2e7bd9;
  font-family: 'Bodoni', arial;
  font-size: 70px;
  text-align: center; }

.header-cont > p {
  font-family: Avenir;
  font-size: 18ps;
  color: #6a6a6a;
  text-align: center; }

.header-cont > a {
  display: block;
  text-align: center; }

/*******Main********/
main {
  margin-top: 150px; }

.reg {
  background: white;
  margin: 0 auto;
  -webkit-box-shadow: 5px 10px 20px 17px rgba(113, 111, 111, 0.09);
          box-shadow: 5px 10px 20px 17px rgba(113, 111, 111, 0.09);
  max-width: 82%;
  padding: 20px; }

.reg div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-basis: 285px;
      -ms-flex-preferred-size: 285px;
          flex-basis: 285px; }

.reg h4 {
  font-family: Avenir;
  font-size: 18px;
  color: #6a6a6a;
  text-align: center; }

.reg div input {
  border: 2px solid #4696e9;
  margin: 10px;
  -webkit-flex-basis: 230px;
      -ms-flex-preferred-size: 230px;
          flex-basis: 230px;
  height: 50px;
  color: #737171;
  font-family: 'Bodoni', arial;
  font-size: 19px;
  padding-left: 9px; }

.reg div a {
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 25px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  background: -webkit-gradient(linear, left top, right top, from(#0073d8), to(#009aed));
  background: -webkit-linear-gradient(left, #0073d8, #009aed);
  background: linear-gradient(90deg, #0073d8, #009aed);
  -webkit-flex-basis: 285px;
      -ms-flex-preferred-size: 285px;
          flex-basis: 285px;
  margin: 10px;
  font-weight: bold;
  height: 55px; }

/*Strategy section*/
.strategy {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 140px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.column {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 400px;
      -ms-flex-preferred-size: 400px;
          flex-basis: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.second {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
  -webkit-box-shadow: 5px 10px 20px 17px rgba(113, 111, 111, 0.09);
          box-shadow: 5px 10px 20px 17px rgba(113, 111, 111, 0.09); }

.nasty {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.nasty a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  background-color: white; }

article h1 {
  font-size: 50px; }

figcaption {
  color: black;
  font-weight: bold; }

/*border shamanism*/
.nasty a:first-child {
  border-bottom: 1px solid #dfdfdf; }

.c1 a {
  border-right: 1px solid #dfdfdf; }

.c1 a:first-child {
  -webkit-border-bottom-right-radius: 3px;
          border-bottom-right-radius: 3px; }

.c1 a:last-child {
  -webkit-border-top-right-radius: 3px;
          border-top-right-radius: 3px; }

.c2 a:first-child {
  -webkit-border-bottom-left-radius: 3px;
          border-bottom-left-radius: 3px; }

.c2 a:last-child {
  -webkit-border-top-left-radius: 3px;
          border-top-left-radius: 3px; }

.second {
  background-color: #dfdfdf;
  margin-top: 15px; }

/*readmore button*/
.read {
  font-family: Avenir;
  color: #2e7bd9;
  font-size: 18px;
  font-weight: bold; }

.read img {
  margin-left: -30px;
  margin-bottom: -20px;
  opacity: .4; }

@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir-Book.ttf); }

html {
  background-color: #ffffff; }

body {
  padding: 0;
  margin: 0; }

.reg {
  max-width: 85%; }

.strategy, .team, .aspects, .reg-wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  min-width: 350px; }

.strategy-bg {
  background-image: url(../img/bgstrategy1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 100px;
  background-position-x: right; }

.team-bg {
  margin-top: 100px;
  min-height: 300px;
  background-image: url(../img/bgteam.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }
  .team-bg .team {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
        -ms-flex: 1 auto;
            flex: 1 auto;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .team-bg .team .col-t {
      -webkit-flex-basis: 48%;
          -ms-flex-preferred-size: 48%;
              flex-basis: 48%; }
      .team-bg .team .col-t figure > img {
        width: 100%;
        min-width: 300px; }
      .team-bg .team .col-t article > h3 {
        font-size: 45px;
        font-weight: 300; }

.aspects {
  margin-top: 100px;
 }
  .aspects h2 {
    font-size: 50px; }
  .aspects .artic {
    padding-left: 10px;
    padding-right: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-around;
        -ms-flex-pack: justify;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .aspects .artic article {
              
      -webkit-flex-basis: 23%;
          -ms-flex-preferred-size: 23%;
              flex-basis: 23%;
              max-height: 500px;
              min-width: 240px; }
      .aspects .artic article h5 {
        font-size: 20px; }


footer {
  margin-top: 100px;
  background-image: url(../img/map.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 740px;
  position: relative; }

.u-foot {
  background: -webkit-gradient(linear, left top, right top, from(#0073d8), to(#009aed));
  background: -webkit-linear-gradient(left, #0073d8, #009aed);
  background: linear-gradient(90deg, #0073d8, #009aed);
  height: 110px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center; }
  .u-foot .satan {
    padding-top: 10px;
    color: white; }
